@import 'tailwindcss';

@theme {
  --color-background-primary: #e7eafa;
  --color-blue-500: #2662f3;
  --color-blue-300: #709afe;
  --color-blue-700: #1450e0;
  --color-gray-200: #e7ebf2;
  --color-gray-100: #f4f5f7;
  --color-gray-900: #1f242a;
  --color-gray-border: #bcc3d0;
  --color-text-secondary: #626c77;
}

body {
  background-color: #e7eafa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
